body{
    background-image: url(https://st.depositphotos.com/4196725/58711/i/450/depositphotos_587111738-stock-photo-young-adult-pretty-woman-feeling.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
    height: 30px;
    margin: 0%;
    -webkit-background-size: cover ;
    background-attachment: fixed;
    text-align: center;
    font-family: fantasy;
}
#buscar{
    width: 200px;
    height: 30px;
    border-radius: 20px;
}
#buscador{
    border-radius: 20px;
}