body{
    background-image: url(https://png.pngtree.com/png-clipart/20230809/original/pngtree-boy-pointing-forefinger-upillustration-forefinger-people-vector-vector-picture-image_10188533.png);
  
}
.principal{
    
    width: 500px;
    padding: 20px;
    background-color: #ccb59a;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 70px;
    box-shadow: 10px 22px 
   
}