body{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/973/492/desktop-wallpaper-homework-widescreen-high-definition-homework.jpg");
}
ul li{
    font-family: cursive;

}
.principal{
    margin: 1px;
    width: 40%;
    padding: 0%;
    background-color: #aaab96;
    text-align: center;
    border-radius: 70px;
    box-shadow: 10px 22px ;
    position: absolute;
    top: 5%;
    left:30%
}

input{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(235, 230, 234);
}

button{
    border-radius: 10px;
}
.footer{
    text-align: center;
}