body {
    background-image: url("https://st.depositphotos.com/3008028/3750/i/450/depositphotos_37502259-stock-photo-festive-background-elegant-abstract-background.jpg");
}

.imagen {
    border-style: outset; /*aqui me le pone una margen a las fotos */
    width: 100px;
    /*aqui me lo pone de forma pequeña */
    margin: 10px 0;



}

@media (max-width: 700px) {

    /* tamaño de la pantalla*/
    .imagen {
        max-width: 100%;
        margin: 5px 0;
        border-radius: 100%;
        /*cuando se ponga pequeña la pantalla se ponga en radiun*/
    }
}