.principal{
    width: 40;
    padding: 20px;
    background-color: #f7f1ea;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 70px;
    box-shadow: 10px 22px 
    
}

.imagen{
    border-radius: 100px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgb(14, 17, 201);
    margin: 8;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: absolute;
    top: 20%;
    left:10%

}
a{
    text-decoration: none;
}
