.principal{
    width: 40;
    padding: 20px;
    background-color: #f7f1ea;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 70px;
    box-shadow: 10px 22px 
    
}

.imagen{
    border-radius: 100px;
}

body{
    background-image: url("https://c8.alamy.com/compes/em6w54/hermoso-par-de-varios-colores-brillantes-de-guacamayas-volando-en-el-cielo-el-plumaje-es-principalmente-scarlet-em6w54.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 8;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: absolute;
    top: 25%;
    left:10%

}
a{
    text-decoration: none;
}
