body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzhmM6hRPbdp1DeSFWIAI5GtauvI839petww&s");
    text-align: center;
}

header {
    background: rgb(214, 225, 218);
    width: 100%;
    padding: 0;
}

li {
    display: inline;
    padding: 20px;
}

.p {
    font-family: cursive;
}

.k {

    font-size: 30px;
    font-family: cursive;
    margin-left: 500px;
    color: rgb(15, 15, 14);
    text-align: center;
}

.l {
    font-size: 50px;
    font-family: cursive
}

.o {
    text-align: center;
    font-size: 30px;
    color: rgb(15, 15, 14);
    text-decoration: none;
}

.conocenos {
    text-decoration: none;
}

.conocenos:hover {
    background-color: #079CF0;
}