body {
    background-image: url("https://cdn.diferenciador.com/imagenes/turismo-aventura-cke.jpg");
    text-align: center;
}

header {
    background: rgb(214, 225, 218);
    width: 100%;
    padding: 0;
}

li {
    display: inline;
    padding: 20px;
}

.bienvenida {
    font-family: cursive;
    
}

.colombia{
    text-align: center;
   
}
.sentro {
    font-size: 50px;
    font-family: cursive
}

.union {
    text-align: center;
    font-size: 30px;
    color: rgb(15, 15, 14);
    text-decoration: none;
}

.conocenos {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.conocenos:hover {
    background-color: #079CF0;
}