body{
    color: rgb(20, 20, 20);
}

.m{
    text-align: center;
}
.k{
    vertical-align: middle;
    width: 50;
    align-items: center;
    align-content: center;
    text-align: center;
}
.avata{
    
    border-radius: 200px;
}
.y{
    text-align: center;
}
.t{
    background-color: 
    rgb(53, 146, 189);
     height: 30px;
     width: 100%;
     text-align: center;
}
.L{
    background-color: rgb(185, 180, 180);
     height: 40px;
     width: 100%;
     text-align: center;
}