

body{
    background-image: url(https://img.freepik.com/foto-gratis/deliciosa-comida-verduras-ensalada-mesa_23-2148132011.jpg);
    text-align: center;
}

.h{
  
    color: rgb(239, 239, 232);
    font-family: cursive;
}
    

.m{
    border-radius: 4200;
    font-family: cursive;
}

.o{
    border-radius: 20px;
    font-family: cursive;
    color: black;  
}
.p{
    color: rgb(239, 239, 232);
    font-family: cursive;
}




  


 


