

body{
    background-image: url(https://img.freepik.com/foto-gratis/vista-superior-diferentes-tipos-pasta-como-ziti-rotini-tagliatelle-otros-mantequilla-derretida-ajo-sal-pimienta-tomate-salsa-tomate-alrededor-bloc-notas-superficie-madera-espacio-copia_141793-10525.jpg?size=626&ext=jpg&ga=GA1.1.1788068356.1715731200&semt=ais_user)
    

}
.l{
    font-family: cursive;
    text-align: center;
}
    

.input{
    text-align: center;
    
}
.k{
    font-family: cursive;
}
.conversor{
    text-align: center;
    color: rgb(60, 71, 71);
    background: rgb(137, 168, 106);
    border: 2px dotted rgb(0, 0, 0)
    
 
}
.m{
    font-family:cursive;
    text-align: center;
}
.k{
    color: rgb(8, 7, 7);
    border-color: rgb(22, 22, 28);
}

    ::placeholder{color: rgb(9, 8, 8) ; }

.resultado{
    background: rgb(18, 105, 24);
    border-radius: 10px;
    text-align: center;
}
