

body{
    background-image: url(https://img.freepik.com/foto-gratis/deliciosa-comida-verduras-ensalada-mesa_23-2148132011.jpg);
    text-align: center;
}

.h{
  
    color: rgb(239, 239, 232);
 
    
}
.m{
    border-radius: 40;
}
.o{
    border-radius: 60px;
    font-family: cursive;
    color: black;
    
}
.k{
    font-family: cursive;
}
.j{
    color: rgb(14, 11, 6);
}



  


 


