

body{
   color: rgb(18, 19, 19);
    text-align: center;
}

.h{
  
    color: rgb(20, 20, 19);
    font-family: cursive;
}
    

.m{
    border-radius: 4200;
    font-family: cursive;
}

.o{
    border-radius: 20px;
    font-family: cursive;
    color: black;  
}
.p{
    color: rgb(10, 10, 10);
    font-family: cursive;
}




  


 


